
#head{background: #7575a3;
text-align:center;}
.container{ background: #666699;
padding: 125px;
margin: 10;
border: 100px solid black;
text-align: center;
line-height: 2;}
#poop{background:  #5c5c8a;}